.navbar {
    margin-top: 10px;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 30px;
    padding: 0;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-list a:hover {
    color: #00ffb3;
    /* background: linear-gradient(90deg, #ffffff 40%,  #00ffb3 90%); */

}
.nav-list:visited{
    color: #00ffb3;
}

.about{
    /* display: flex; */
    align-items: center; 
    justify-content: space-between; 
    width: 70%; 
    max-width: 1200px; 
    margin: 50px auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding around the container */
    transition: transform 0.5s ease;
    color: aquamarine;
}

.contact{
    color: aquamarine;
}

.education{
    color: aquamarine;
}

.techSkills{
    color: aquamarine;
}